
.innerBox{
    width: 1200px;
    margin: 0 auto;
}

/* header */

header>.head{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo{
    position: relative;
    z-index: 100000;
}

#nav{
    width: 950px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 45px;
    background-color: #f4c7d5;
    position: relative;
}

#nav>li{
    margin: 0 30px;
    position: relative;
}

#nav>li>a{
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 40px;
    width: 70px;
}

#nav::after{
    content: "";
    display: block;
    height: 0;
    width: 1100px;
    background: #f4c7d5;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34px;
    z-index: 10;
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
}

.sub{
    /* display: none; */
    margin-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
}

.sub>li>a{
    font-size: 14px;
    color: white;
    line-height: 2;
}

.sub a:hover{
    font-weight: 700;
}

#nav:hover::after{
    height: 250px;
}

#nav:hover .sub{
    height: 220px;
}

.gnb{
    margin-top: 45px;
}

.gnb>li{
    float: left;
    margin-right: 10px;
}


/* container */

#container>.innerBox{
    margin-top: 30px;
    height: 976px;
    background: #f3e0e6;
    border-radius: 50px;
}

#container h2{
    padding-top: 110px;
    font-size: 30px;
}

#container h2:last-of-type{
    padding-top: 90px;
}

#container h2:first-of-type{
    margin-bottom: 30px;
}

.loginWrap{
    text-align: center;
    position: relative;
}

.checkbox{
    display: block;
    position: absolute;
    left: 31.8%;
    transform: translateX(-50%);
    bottom: 95px;
    line-height: 20px;
}

.checkbox>span{
    position: absolute;
    width: 200px;
    left: 20px;
    font-size: 18px;
}

button{
    margin-top: 60px;
    width: 110px;
    height: 46px;
    padding: 12px 20px;
    font-size: 15px;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.resister{
    margin: 90px;
}

.loginWrap p{
    margin-top: 10px;
    font-style: italic;
}

.loginWrap p:hover{
    text-decoration: underline;
}

input[type=checkbox]{
    width: 20px;
    height: 18px;
    border-radius: 30px;
}

.resisterWrap{
    text-align: center;
    position: relative;
}

input[type=text],input[type=password]{
    margin: 35px auto;
    padding: 0 20px;
    width: 463px;
    height: 52px;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[name=username]{
    display: block;
    margin-top: 0;
}

.resisterWrap>div:first-of-type{
    margin-top: 50px;
}

.resisterWrap>div:first-of-type>label{
    font-size: 15px;
    position: absolute;
    top: 148px;
    line-height: 18px;
    left: 31.5%;
}

.policy{
    text-align: left;
    position: absolute;
    bottom: 33%;
    left: 31.5%;
}

.policy>p{
    line-height: 18px;
}
















/* footer */
footer{
    background: #f2dbe1;
    margin-top: 100px;
    height: 300px;
}

footer a{
    color: black;
}

.footTop{
    display: flex;
    justify-content: space-between;
}

.footLeft{
    display: flex;
    margin: 30px;
}

.footLeft ul{
    margin-right: 70px;
}

.footLeft>.service{
    margin-right: 0;
}

.footLeft h3{
    margin-bottom: 15px;
    font-size: 15px;
}

.footLeft li{
    width: 130px;
}

.footLeft li>a{
    font-size: 12px;
    line-height: 24px;
}

.footLeft li>a:hover{
    text-decoration: underline;
}

.footMiddle{
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 50px 0 0;
}

.footMiddle>.follow{
    font-size: 20px;
    font-weight: bold;
}

.footIcon img{
    width: 25px;
    height: 25px;
}

.footIcon>li{
    float: left;
    margin: 0 10px;
}

.footRight{
    margin-top: 30px;
}

.footRight>h3{
    font-size: 20px;
    text-align: center;
}

.footRight>.app{
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.footRight>.app>li{
    margin-right: 10px;
}

.footRight>.app img{
    opacity: 0.5;
    width: 100%;
    height: auto;
}

.footRight>.app>li:hover img{
    opacity: 1;
}

.footBottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    width: 550px;
}

.footBottom>li{
    float: left;
    position: relative;
    margin: 7px;
}

.footBottom>li::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #333;
    position: absolute;
    top: 1px;
    right: -7px;
}

.footBottom>li:last-child::after{
    display: none;
}

.footBottom a:hover{
    text-decoration: underline;
}
